// <editor-fold desc="client-with-responses" defaultstate="collapsed"> /////////

{{$clientTypeName := opts.OutputOptions.ClientTypeName -}}

// {{ $clientTypeName }}WithResponses builds on {{ $clientTypeName }} to offer response payloads
type {{ $clientTypeName }}WithResponses struct {
	{{ $clientTypeName }}
}

// New{{ $clientTypeName }}WithResponses creates a new {{ $clientTypeName }}WithResponses, which wraps
// Client with return type handling
func New{{ $clientTypeName }}WithResponses(config *common.ClientConfig, editors common.ClientConfigEditor) {{ $clientTypeName }}WithResponses {
	client := New{{ $clientTypeName }}(config, editors)
	return {{ $clientTypeName }}WithResponses{
		{{ $clientTypeName }}: client,
	}
}

// {{ $clientTypeName }}WithResponsesInterface is the interface specification for the client with responses above.
type {{ $clientTypeName }}WithResponsesInterface interface {
{{range . -}}
{{$hasParams := .RequiresParamObject -}}
{{$pathParams := .PathParams -}}
{{$opid := .OperationId -}}
	// {{$opid}}{{if .HasBody}}WithBody{{end}}WithResponse request{{if .HasBody}} with any body{{end}}
	{{$opid}}{{if .HasBody}}WithBody{{end}}WithResponse(ctx context.Context{{genParamArgs .PathParams}}{{if .RequiresParamObject}}, params *{{$opid}}Params{{end}}{{if .HasBody}}, contentType string, body io.Reader{{end}}, editors ...common.ClientConfigEditor) (*{{genResponseTypeName $opid}}, error)
{{range .Bodies}}
	{{if .IsSupportedByClient -}}
		{{$opid}}{{.Suffix}}WithResponse(ctx context.Context{{genParamArgs $pathParams}}{{if $hasParams}}, params *{{$opid}}Params{{end}}, body {{$opid}}{{.NameTag}}RequestBody, editors ...common.ClientConfigEditor) (*{{genResponseTypeName $opid}}, error)
	{{end -}}
{{end}}{{/* range .Bodies */}}
{{end}}{{/* range . $opid := .OperationId */}}
}

{{range .}}{{$opid := .OperationId}}{{$op := .}}
type {{genResponseTypeName $opid | ucFirst}} struct {
	common.ClientResponse
	{{- range getResponseTypeDefinitions .}}
	{{.TypeName}} *{{.Schema.TypeDecl}}
	{{- end}}
}

{{end}}

{{/* Generate client methods (with responses) */}}
{{ range . }}
{{- $opid := .OperationId }}
{{- $hasParams := .RequiresParamObject }}
{{- $pathParams := .PathParams }}

// {{$opid}}{{if .HasBody}}WithBody{{end}}WithResponse request{{if .HasBody}} with arbitrary body{{end}} returning *{{genResponseTypeName $opid}}
func (c *{{ $clientTypeName }}WithResponses) {{$opid}}{{if .HasBody}}WithBody{{end}}WithResponse(ctx context.Context{{genParamArgs .PathParams}}{{if .RequiresParamObject}}, params *{{$opid}}Params{{end}}{{if .HasBody}}, contentType string, body io.Reader{{end}}, editors... common.ClientConfigEditor) (*{{genResponseTypeName $opid}}, error){
	return common.HandleAction(c.ClientConfig, ctx, editors, Parse{{genResponseTypeName $opid | ucFirst}}, func(ctx context.Context) (*http.Response, error) {
		return c.{{$opid}}{{if .HasBody}}WithBody{{end}}(ctx{{genParamNames .PathParams}}{{if .RequiresParamObject}}, params{{end}}{{if .HasBody}}, contentType, body{{end}}, editors...)
	})
}

{{ range .Bodies }}
{{- if .IsSupportedByClient }}
func (c *{{ $clientTypeName }}WithResponses) {{$opid}}{{.Suffix}}WithResponse(ctx context.Context{{genParamArgs $pathParams}}{{if $hasParams}}, params *{{$opid}}Params{{end}}, body {{$opid}}{{.NameTag}}RequestBody, editors ...common.ClientConfigEditor) (*{{genResponseTypeName $opid}}, error) {
	return common.HandleAction(c.ClientConfig, ctx, editors, Parse{{genResponseTypeName $opid | ucFirst}}, func(ctx context.Context) (*http.Response, error) {
		return c.{{$opid}}{{.Suffix}}(ctx{{genParamNames $pathParams}}{{if $hasParams}}, params{{end}}, body, editors...)
	})
}
{{- end }}
{{- end }}

{{ end }}{{/* operations */}}

{{/* Generate parse functions for responses*/}}
{{ range . }}
{{- $responseTypeName := genResponseTypeName .OperationId }}

// Parse{{ $responseTypeName | ucFirst }} parses an HTTP response from a {{ .OperationId }}WithResponse call.
func Parse{{ $responseTypeName | ucFirst }}(rsp *http.Response) (*{{ $responseTypeName }}, error) {

	// Prepare the api response by wrapping the http response.
	clientResponse, err := common.NewClientResponse(rsp)
	response := &{{ $responseTypeName }}{ ClientResponse: clientResponse }
	if err != nil {
		return response, err
	}

	bodyBytes := response.Body
	{{ genResponseUnmarshal . }}

	return response, nil
}
{{ end }}

// </editor-fold> //////////////////////////////////////////////////////////////
