// <editor-fold desc="typedef" defaultstate="collapsed"> ///////////////////////

{{range .Types}}
{{ if .Schema.Description }}{{ toGoComment .Schema.Description .TypeName  }}{{ else }}// {{.TypeName}} defines model for {{.JsonName}}.{{ end }}
type {{.TypeName}} {{if .IsAlias }}={{end}} {{.Schema.TypeDecl}}
{{end}}

// </editor-fold> //////////////////////////////////////////////////////////////
