*.log
*.backup
.env

# Build
.build/
bin/
dist/
*.dll
*.exe

# Mac
.DS_Store

# Vim
.*.swp
*~

# IntelliJ
.idea/
*.iml

# Testing
*.jsonl

# Terraform
.terraform/
*.tfplan
*.tfplan.json
*.tfstate
*.tfstate.backup
*.tfvars

# Examples
examples/**/*.json
