*.log

# Build
.build/
bin/
dist/
*.dll
*.exe

# Keep windows files with windows line endings
*.winfile eol=crlf

# Mac
.DS_Store

# Vim
.*.swp
*~

# IntelliJ
.idea/
*.iml

# Testing
*.auto.tfvars
*.jsonl
