# Had to mess with description rendering because it was failing with a weird error.
# https://github.com/hashicorp/terraform-plugin-docs/blob/main/internal/provider/template.go
page_title: "{{.ProviderShortName}} Provider"
subcategory: ""
description: |-
{{ .Description | trimspace | prefixlines "  " }}
---

# {{.ProviderShortName}} Provider

{{ .Description | trimspace }}

{{ if .HasExample -}}
## Example Usage

{{tffile .ExampleFile }}
{{- end }}

{{ .SchemaMarkdown | trimspace }}
